.regular-video__bookmark-sign {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 6;
}

.regular-video__bookmark-sign:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.regular-video__bookmark-sign:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.regular-video__bookmark-sign:active .regular-video__bookmark-icon * {
    stroke: white;
    fill: white;
}