@import "./vars.css";

.initial-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
    position: relative;
}

.main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media(min-width: 600px) {
    .initial-page {
        padding: 3%;
    }
}

@media(min-width: 900px) {
    .initial-page {
        height: 100vh;
        flex-direction: row;
    }
    .main-section {
        height: 100%;
        overflow-y: scroll;
        overscroll-behavior-x: contain;
    }
}