@import "./vars.css";

.password-not-repeated {
    max-width: 320px;
    background-color: var(--transparent-red);
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid var(--red);
    font-weight: 300;
    position: absolute;
    top: -70px;
    left: 0;
}