@import "./vars.css";

.trending-cont {
    width: 100%;
    position: relative;
    left: 0;
    scroll-snap-align: center;
    margin-bottom: 20px;
}

.trending-scroll {
    width: 100%;
    height: 160px;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    position: relative;
}